  .tabulkaProjektData {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td.projekt, th.projekt {
    border: 1px solid blue;
    text-align: left;
    padding: 8px;
  }

  .options{
    color: darkred;
  }